.u-section-1 .u-sheet-1 {
  min-height: 475px;
}

.u-section-1 .u-image-1 {
  width: 275px;
  height: 275px;
  margin: 100px auto 0 35px;
}

.u-section-1 .u-text-1 {
  font-family: Alata;
  margin: -209px 120px -394px 339px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 20px;
    margin-left: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1154px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 498px;
  background-image: url("../images/1920x1080.jpg");
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 147px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-family: Alata;
  margin: 23px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 147px;
}

.u-section-2 .u-container-layout-3 {
  padding: 22px 30px;
}

.u-section-2 .u-btn-1 {
  font-family: "ADLaM Display";
  --radius: 10px;
  border-style: solid;
  margin: 0 auto;
  padding: 14px 114px;
}

.u-section-2 .u-btn-2 {
  font-family: "ADLaM Display";
  --radius: 10px;
  border-style: solid;
  margin: 20px auto 0 4px;
  padding: 12px 94px 13px 93px;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-text-2 {
  font-family: Alata;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 53px 54px 0;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-2 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-3 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-text-4 {
  margin: 0 54px;
}

.u-section-2 .u-list-icon-4 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-5 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-6 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-image-2 {
  min-height: 400px;
  background-image: url("../images/Console_goldsrc.jpg");
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 23px;
}

.u-section-2 .u-text-5 {
  margin: 4px 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 497px;
  }

  .u-section-2 .u-image-1 {
    min-height: 411px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 121px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 121px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 7px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -135px;
    margin-right: 4px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 17px;
  }

  .u-section-2 .u-image-2 {
    min-height: 330px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 37px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 365px;
  }

  .u-section-2 .u-image-1 {
    min-height: 315px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -11px;
  }

  .u-section-2 .u-image-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 297px;
  }

  .u-section-2 .u-image-1 {
    min-height: 236px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -2px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -164px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 65px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 175px;
  }

  .u-section-2 .u-image-1 {
    min-height: 149px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    margin-top: -138px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 14px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1154px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 498px;
  background-image: url("../images/1920x1080.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 147px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-family: Alata;
  margin: 23px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 147px;
}

.u-section-3 .u-container-layout-3 {
  padding: 22px 30px;
}

.u-section-3 .u-btn-1 {
  font-family: "ADLaM Display";
  --radius: 10px;
  border-style: solid;
  margin: 0 auto;
  padding: 14px 114px;
}

.u-section-3 .u-btn-2 {
  font-family: "ADLaM Display";
  --radius: 10px;
  border-style: solid;
  margin: 20px auto 0 4px;
  padding: 12px 94px 13px 93px;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-3 .u-text-2 {
  font-family: Alata;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 53px 54px 0;
}

.u-section-3 .u-list-icon-1 {
  color: rgb(132, 209, 82) !important;
}

.u-section-3 .u-list-icon-2 {
  color: rgb(132, 209, 82) !important;
}

.u-section-3 .u-list-icon-1 {
  color: rgb(132, 209, 82) !important;
}

.u-section-3 .u-text-4 {
  margin: 0 54px;
}

.u-section-3 .u-list-icon-4 {
  color: rgb(132, 209, 82) !important;
}

.u-section-3 .u-list-icon-5 {
  color: rgb(132, 209, 82) !important;
}

.u-section-3 .u-list-icon-6 {
  color: rgb(132, 209, 82) !important;
}

.u-section-3 .u-list-icon-4 {
  color: rgb(132, 209, 82) !important;
}

.u-section-3 .u-image-2 {
  min-height: 400px;
  background-image: url("../images/Console_goldsrc.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 23px;
}

.u-section-3 .u-text-5 {
  margin: 4px 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-image-1 {
    min-height: 411px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 121px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 121px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 7px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -135px;
    margin-right: 4px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 17px;
  }

  .u-section-3 .u-image-2 {
    min-height: 330px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 37px;
  }

  .u-section-3 .u-image-1 {
    min-height: 315px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: -11px;
  }

  .u-section-3 .u-image-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-3 .u-image-1 {
    min-height: 236px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -2px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -164px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 65px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-3 .u-image-1 {
    min-height: 149px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    margin-top: -138px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 14px;
  }
}